.footer {
    display: flex;
    justify-content: center;
    background-color:  #A8CDCC;
    min-height: 10vh;

    .redes,
    .terminos {
        display: flex;
        justify-content: space-around;
    }

}
.redes {
    div {
        padding: 10px;
        border-radius: 100%;
        background-color: white;
        color: black;
        margin: 10px;
    }

     a {
        text-decoration: none;
        color: black;
    }
}
.terminos {
    p {
        margin: 10px;
        a{text-decoration: none;
            &:link{
                color: rgb(0, 0, 0);
            }
            &:visited{
                color: black;
            }
            &:active{
                color: #0e514e;
            }
        }
    }
    

}

