.navbar {
    background-color: #A8CDCC;

    .navbar-brand {
        font-family: $nav-font;
        font-weight: 600;
    }

    .ancho {
        max-width: 850px;
    }

    .navbar-collapse {
        justify-content: flex-end;

    }
}