.paletas {
    margin: auto;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    max-width: 90vw;
    text-align: center;


    &__titulo {
        width: 100vw;
        margin: 10px;


    }
}

.paletas__productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "paletas__producto-1 paletas__producto-2 paletas__producto-3"
        "paletas__producto-4 paletas__producto-5 paletas__producto-6"
        "paletas__producto-7 paletas__producto-8 paletas__producto-9"
        "paletas__producto-10 paletas__producto-11 paletas__producto-12"
        "paletas__producto-13 paletas__producto-14 paletas__producto-14";
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.664);
}


.paletas__producto-1 {
    grid-area: paletas__producto-1;
}

.paletas__producto-2 {
    grid-area: paletas__producto-2;
}

.paletas__producto-3 {
    grid-area: paletas__producto-3;
}

.paletas__producto-4 {
    grid-area: paletas__producto-4;
}

.paletas__producto-5 {
    grid-area: paletas__producto-5;
}

.paletas__producto-6 {
    grid-area: paletas__producto-6;
}

.paletas__producto-7 {
    grid-area: paletas__producto-7;
}

.paletas__producto-8 {
    grid-area: paletas__producto-8;
}

.paletas__producto-9 {
    grid-area: paletas__producto-9;
}

.paletas__producto-10 {
    grid-area: paletas__producto-10;
}

.paletas__producto-11 {
    grid-area: paletas__producto-11;
}

.paletas__producto-12 {
    grid-area: paletas__producto-12;
}

.paletas__producto-13 {
    grid-area: paletas__producto-13;
}

.paletas__producto-14 {
    grid-area: paletas__producto-14;
}

.loc {
    margin: 10px;
}



@media(max-width:988px) {
    .paletas__productos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
            "paletas__producto-1 paletas__producto-2"
            "paletas__producto-3 paletas__producto-4"
            "paletas__producto-5 paletas__producto-6"
            "paletas__producto-7 paletas__producto-8"
            "paletas__producto-9 paletas__producto-10"
            "paletas__producto-11 paletas__producto-12"
            "paletas__producto-13 paletas__producto-14";
    }
}

@media(max-width:715px) {
    .paletas__productos {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(14, 1fr);
        grid-template-areas:
            "paletas__producto-1"
            "paletas__producto-2"
            "paletas__producto-3"
            "paletas__producto-4"
            "paletas__producto-5"
            "paletas__producto-6"
            "paletas__producto-7"
            "paletas__producto-8"
            "paletas__producto-9"
            "paletas__producto-10"
            "paletas__producto-11"
            "paletas__producto-12"
            "paletas__producto-13"
            "paletas__producto-14";
    }

    ;
}