.accesorios {
    margin: auto;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    text-align: center;
}

.container-accesorios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "accesorio1 accesorio2 accesorio3"
        "accesorio4 accesorio5 accesorio6"
        "accesorio7 accesorio8 accesorio9"
        "accesorio10 accesorio10 accesorio10";
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.664);
    margin: auto;

    .loc {
        margin: 10px;
    }

    .accesorio1 {
        grid-area: accesorio1;
    }

    .accesorio2 {
        grid-area: accesorio2;
    }

    .accesorio3 {
        grid-area: accesorio3;
    }

    .accesorio4 {
        grid-area: accesorio4;
    }

    .accesorio5 {
        grid-area: accesorio5;
    }

    .accesorio6 {
        grid-area: accesorio6;
    }

    .accesorio7 {
        grid-area: accesorio7;
    }

    .accesorio8 {
        grid-area: accesorio8;
    }

    .accesorio9 {
        grid-area: accesorio9;
    }

    .accesorio10 {
        grid-area: accesorio10;
    }
}




@media(max-width:1019px) {
    .container-accesorios {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "accesorio1 accesorio2"
            "accesorio3 accesorio4"
            "accesorio5 accesorio6"
            "accesorio7 accesorio8"
            "accesorio9 accesorio10";
    }
}

@media(max-width:700px) {
    .container-accesorios {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:
            "accesorio1"
            "accesorio2"
            "accesorio3"
            "accesorio4"
            "accesorio5"
            "accesorio6"
            "accesorio7"
            "accesorio8"
            "accesorio9"
            "accesorio10";
    }
}