.main-contacto {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    max-width: 90vw;
    margin: auto;
}

.contacto {
    text-align: center;
    padding: 30px;
    background-color: #90a6a6;
    color: black;
    min-width: 90vw;
    margin-top: 20px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.enviar-contacto {
    width: 80px;
    border-radius: 1rem;
    border-color: black;

    &:focus {
        background-color: #0e514e;
        transform: scale(1.01);
        font-weight: bold;
        transition: .3s;
    }
}

.input2 {
    border-radius: 1rem;

    &:hover {
        background-color: #A8CDCC;
        transform: scale(1.01);
        transition: .3s;
    }

}



@media(max-width:1000px) {
    .contacto__mapa {
        display: none;
    }
   
}