.contacto {
    margin: 20px;
    padding: 20px;
    background-color: #90a6a6 ;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    
}
.enviar-contacto {
    width: 80px;
    &:focus {
        background-color:  #0e514e;
        transform: scale(1.01);
        font-weight: bold;
        transition: .3s;
    }
}

.input2{
    &:hover {
        background-color: antiquewhite;
        transform: scale(1.01);
        transition: .3s;
    }

}
